/*CSS Sucks*/
body {
      font-family: "Roboto", sans-serif;
      margin:0;
      padding:0;
      }
h1 {
  color: #139FC6;
    margin-top: 0.7em;
    line-height: 1.2em;
    text-align: center;
    font-size: 3em;
}

h2 {
 color: #175D79;
    padding-top: 2em;
    padding-bottom: 1.3em;
    text-align: center;
    font-size: 2.5em;
   line-height: 1.2em;
}
h3 {
   color: #17323F;
    font-size: 1.5em;
    padding-top: 0.5em;
line-height: 1.25em;
}

ul {list-style: none;
    padding-inline-start: 1.25em;
}



li::before {content: "■"; color: #139FC6;
  display: inline-block; width: 1em;
  margin-left: -1em}


.logo {
    width: 10em;
    height: 5em;
    margin: 1em;
    padding: 1em;
    float: right;
    /*background-image: url(img/Logo_La_Marque.svg);*/
    background-repeat: no-repeat;
}

  .sidenav {
    height: 100%;
    width: 26%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#139FC6;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
  }
  
  .sidenav a:hover {
    /*background-color: #000000 ;*/
    /*color: #000000;*/
    text-decoration: underline;
  }

  .liens{
      float: right;
      margin: 1em;
  }
/* Le plus produit Sidenav */
#mySidenav {
    position: fixed; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    /*transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 8em; /* Set a specific width */
    margin-top: 35%;
}
  #mySidenav a {
    text-decoration: none; /* Remove underline */
    font-size: 0.9em; /* Increase font size */
    color: white; /* White text color */
    /*border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    /*left: 0;*/ 
    text-decoration: underline;
  }
  
  /* Les onglets a partir du top */
  #C17323F {
    /*top: 320px;
    top: 20em;*/
    background-color: #17323F;
  }
  
  #C175D79 {
    /*top: 380px;
    top: 23em;*/
    background-color: #175D79;
  }
  
  #C139FC6 {
    /*top: 440px;
    top: 26em;*/
    background-color: #139FC6;
  }
  
  #C5AC8FA {
    /*top: 500px;
    top: 29em;*/
    background-color: #5AC8FA
  }
  #CB7E2FA {
    /*top: 560px;
    top: 32em;*/
    background-color: #B7E2FA
  }

 .main {
    margin-left: 32%; /* mettre une largeur identique a la classe sidenav */
    font-size: 1rem; /* pour augmenter la lisibilité au scroll */
    line-height: 1.6em;
    color: #021720;
    padding: 3% 5% 0 0;
  }

  .main a {
    color: #006487;
  }

  .main a:visited {
    color: #660099;  }
        a:hover {
  text-decoration: none;
}

.social-icons {
    /* font-size: 1rem; */
    display: table;
    padding: 0;
    /* width: 100%; */
    /* max-width: 400px; */
    margin: 0 auto;
}

.social-icons li {
    display: table-cell;
    text-align: center;
    max-width: 80px;
    padding: 0 10px;
    position: relative;
}


 .image {

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
       padding-top: 1em;
    padding-bottom: 1em;
       }


 .lela {
     color: crimson;
 }

 i.fab {
  color: #139FC6;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
