/*CSS Suxx*/
body {
    font-family: "Roboto", sans-serif;
    margin:0;
    padding:0;
}

h1 {
    color: #139FC6;
    margin-top: 0.7em;
    line-height: 1.2em;
    text-align: center;
    font-size: 3em;
  }
  
  h2 {
   color: #175D79;
   padding-top: 2em;
   padding-bottom: 1.3em;
   text-align: center;
   font-size: 2.5em;
   line-height: 1.2em;
  }
  h3 {
   color: #17323F;
   font-size: 1.5em;
   padding-top: 0.5em;
   line-height: 1.25em;
  }
  
  ul {
    list-style: none;
    padding-inline-start: 1.25em;
  }

 
section {
    margin: 2rem;
}
  
  li::before {
    content: "■"; 
    color: #139FC6;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
}
.image {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}

#conteneur{
    /*grille de mise en page*/
    display: grid;
    grid-template-areas: "entete"
    "menu"
    "article"
    "pieddepage";
    /*gap: 0.2em;*/
    width: 95%;
    /*margin: auto;*/
    line-height: 1.6em;
    color: #021720;
    /*padding: 3% 5% 0 0;*/ /*rajoute un effet degueu au scroll*/
}

/*
#header {
  margin: 2rem;
}
*/

#menu {
    grid-area: menu;
    background-color:#139FC6;
}
article{
    grid-area: article;
    /*border: 1px solid #000;*/
}
article a {
  color: #006487;
}

article a:visited {
  color: #660099;
}

article a:hover {
  text-decoration: none;
}

.lela {
  padding-top: 5em;
}


.footer {
    grid-area: pieddepage;
    background-color: #17323F;
    color: #ffffff;
    text-align: center;
}

.logofooter {
  width: 10em;
  height: 5em;
  margin: 0 auto;
  padding: 1em;
}

#sidenav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    /*background-color: yellowgreen;*/
}
.logo {
    float: right;
    width: 10em;
    height: 5em;
    margin: 1em;
    padding: 0.6em;
    /*background-color: #333;*/
}
.liens{
    /*float: right;*/
    display: flex;
    flex-direction: column;
    margin: 1em;
    /*background-color: tomato;*/
}

.liens a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    /*display: block;*/
  }

.liens a:hover {
    text-decoration: underline;
}


.mySidenav {
    /*float: right;*/
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    /*left: -80px;*/
    /*margin: 1em;
    padding: 15px; /* 15px padding */
    /*background-color: #ff00dd;*/
    width: 3em; /* Set a specific width */
    /*margin-top: 35%;*/
}

.mySidenav a {
    text-decoration: none; /* Remove underline */
    font-size: 0.9em; /* Increase font size */
    color: white; /* White text color */
}
  
.mySidenav a:hover {
     text-decoration: underline;
  }

/* Les onglets a partir du top */
#C17323F {
    background-color: #17323F;
    height: 3em;
  }
  
  #C175D79 {
    background-color: #175D79;
    height: 3em;
  }
  
  #C139FC6 {
    background-color: #139FC6;
    height: 3em;
  }
  
  #C60C6F2 {
    background-color: #60C6F2;
    height: 3em;
  }
 
/*Bouton menu mobile*/
input[type=button] {
  border: none;
  cursor:pointer; 
}


#navig{
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #139FC6;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .overlay .closebtn {
    position: absolute;
    bottom: 20px;
    right: 45px;
    /*margin: 0 auto;*/
    font-size: 5em;
  }

  i.fab {
    color: #139FC6;
  }

  .social-icons{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4em;   
  }

.cartouche {
  margin: 0.9em;
}

  .cartouche a {
    color: #ffffff;
  }


@media only screen and (min-width: 758px) {
    #conteneur{
        /*grille de mise en page*/
        grid-template-columns: 350px 1fr;
        grid-template-areas: "menu article"
        "menu pieddepage";
        width: 100%;
    
    }
    #myNav {
        display: none;
    }   
}
@media only screen and (max-width: 757px) {
    #conteneur{
        /*grille de mise en page*/
        grid-template-columns: 1fr;
        grid-template-areas: "article"
        "pieddepage"
        "menu";
        width: 100%;
    }
    #sidenav{
        display: none;
    }

    #navig{
        display: block;
        position: sticky;
        bottom: 0.5em;
        background-color: #cd1719;
        color: #ffffff;
        font-size: 24px; 
        line-height: 24px;
        padding: 19px; 
        border-radius: 50px;
        -webkit-appearance: none;
        text-decoration: none;
        text-align: center;
        margin: 0 auto;        
    }
    
    }
  
